

<html>
   
   <head>
        <title>Parking System-departure</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            
        <link rel="stylesheet" type="text/css" href="stil.css">
          
        <script>
      /*global $*/
      
      //-------------------------------------controler=obiect JavaScript , controlerul meu are 4 proprietati:floor,parcel,number,idParkingSpace si o functie care face get la server si gaseste id-ul locului de parcare
        var mainApp = angular.module("parkingApp", []);
        mainApp.controller('parkingController', function($scope,$http)
         {      $scope.space = 
                {
                    ticketId:"",
                    spaceId:"",
                    date:"",
                    priceHour:"5",
                    timeH:"",
                    price:""
                },
                $scope.loadData = function () 
                {   var spaceObject;
                    spaceObject=$scope.space;
                    var url="/tickets/"+spaceObject.ticketId;
                    
                    $http.get(url).success(function(data) 
                    {   
                        $scope.spaceId=data.idParkingSpace;
                        $scope.date=data.entryDate;
                        
                        var t = $scope.date.split(/[- : . T Z]/);
                        var currentdate=new Date();
                        var d =currentdate.getDate()-t[2];
                        var h=currentdate.getHours()-t[3]-2;
                        var m=currentdate.getMinutes()-t[4];
                        var time=h;
                        if (m>0)
                            {
                                time=time+1;
                            }
                        $scope.timeH=time;
                        $scope.price=time*$scope.priceHour;
                        alert( $scope.priceHour+"..."+ $scope.price);
                        
                        makeBill($scope.date,$scope.price);
                    });
                    
                    
                }
                 
        });
         
        
        function makeBill(d,p)
        {   
            var currentdate=new Date();
            var dOut = currentdate.getDate() + "/"+(currentdate.getMonth()+1)+ "/" + currentdate.getFullYear() + " " + currentdate.getHours() + ":" + currentdate.getMinutes() + ":" + currentdate.getSeconds();
            
            var t = d.split(/[- : . T Z]/);  
            var tt=0;
            tt=(tt-t[3])*(-1)+2;
            
            $('#dateIn').append("<span class='billText'>"+'Entry date:'+"</span>");
            $('#dateIn').append("<span >"+t[2]+"/"+t[1]+"/"+t[0]+" "+tt+":"+t[4]+":"+t[5]+"</span>");
            $('#dateOut').append("<span class='billText'>"+'Departure date:'+"</span>");
            $('#dateOut').append("<span >"+dOut+"</span>");
            $('#price').append("<span class='billText'>"+'Price:'+"</span>");
            $('#price').append("<span >"+p+" lei " +"</span>");
            
        }
         
         
      </script>
   </head>
   
   <body>
       <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6"  style="background-color:white;">
                    <div >
                        <div class="bon">
                            <div class="text">Enter your parking ticket id:</div>
                            <form name="myForm" ng-app = "parkingApp" ng-controller = "parkingController" class="form-horizontal" id="formular" data-ng-init="priceHour=5">
                                <div class="form-group">
                                    <label class="control-label col-sm-2" for="tk">Ticket id:</label>
                                    <div class="col-sm-10">
                                        <input name="myTicket" type="text" ng-model="space.ticketId" placeholder="Enter ticket id here"  class="form-control" id="tk" required>
                                    </div>
                                    <span class="rosu" ng-show="myForm.myTicket.$touched && myForm.myTicket.$invalid">The ticket id is required !</span>
                                </div>
                                
                                <div class="form-group">        
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <button  class="btn btn-default btn-block" ng-click="loadData()">OK</button>
                                  </div>
                                </div>
                                
                                
                                Id={{spaceId}} data={{date}}  price==={{price}}  h==={{timeH}} 
                                
                            </form>
                        </div>
                    </div>    
                </div>
                <div class="col-sm-6 " style="background-color:white;">
                    <div class="bill">
                        <div id="antetBill">
                            <h3 >PARKING BILL</h3>
                        </div>   
                        <div class="bodyBill" >
                            <div id="dateIn" class="center"></div>
                            <div id="dateOut" class="center"></div>
                            <div id="price" class="center"></div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>    
        
      
      
   </body>
</html>
