input.ng-invalid {
    background-color:pink;
}
input.ng-valid {
    background-color:lightgreen;
}

span.rosu{
    color: red;
    font-size:14px;
    font-weight:bols;
    font-style: italic;
}
div.bon{
    border:2px solid black;
    width: 400px;
    height: 400px;
    padding: 30px;
    margin-top: 100px;
    margin-left: 150px;
}

div.text{
    font-weight: bold;
    font-size:16;
    text-align: center;
}

#formular{
    padding-top: 20px;
}